<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Negocios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Negocios.Properties.Settings>
            <setting name="Negocios_mibanconeg_mibanco" serializeAs="String">
                <value>https://tiusr21pl.cuc-carrera-ti.ac.cr/mibancoapi/mibanco.asmx</value>
            </setting>
        </Negocios.Properties.Settings>
    </applicationSettings>
</configuration>