body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    padding-top: 10px;
}

.con {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center the container and provide some margin */
    max-width: 800px; /* Adjust the max-width as needed */
    border: 2px solid #95CF48; /* Add a border of 10px with your desired color */
    border-radius: 15px; /* Optional: Add border-radius for rounded corners */
    padding: 20px; /* Add some padding inside the container */
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 16px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn {
    background-color: #95CF48;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    .btn:hover {
        background-color: #7AB730; /* Adjust the hover color */
    }

@media (min-width: 576px) {
    .container {
        margin-top: 40px; /* Adjust the margin for small screens */
    }
}
