.nest-text {
    color: #7AB730; /* Cambia el color a rojo */
}



.container-fluid.bg-dark {
    max-width: 100%; /* Ajusta el valor del ancho máximo según tus necesidades */
    width: 100%; /* Ajusta el valor según el ancho deseado (porcentaje o valor en píxeles) */
   
}



.body {
    margin-top: 530px;
}

