/* Estilos responsivos */
@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin: 5px 0;
    }

    .navbar-toggler,
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .titulo {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        position: static;
        margin: 10px;
    }
}

/* Estilos para el título "Favoritos" */
.titulo {
    position: absolute;
    left: 5.06%;
    right: 73.31%;
    top: 12.53%;
    bottom: 83.52%;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #000000;
    line-height: 100px;
}

/* Estilos para el botón cuadrado y el botón de añadir más */
.add-button,
.add-more-button {
    width: 100px;
    height: 100px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

.add-more-button {
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 16px;
    color: #212529;
    margin-top: 20px;
    transition: 0.3s;
}

    .add-button i,
    .add-more-button i {
        margin-right: 8px;
    }

    .add-more-button:hover {
        background-color: #f8f9fa;
        color: #212529;
        transform: scale(1.1);
    }

/* Estilos para el texto "Añadir más a favoritos" */
.add-text {
    text-align: center;
    font-size: 16px;
    color: #333;
}

/* Estilos para el contenedor del botón */
.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Ajustes para tamaños de pantalla más pequeños */
@media (max-width: 767px) {
    .add-more-button {
        width: 120px;
        height: 120px;
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    .add-more-button {
        width: 90px;
        height: 90px;
        margin-top: 10px;
    }

    .add-button,
    .add-more-button {
        font-size: 18px;
    }
}
/* Agrega este estilo al final de tus estilos CSS existentes */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta según tus necesidades */
}
