/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.label-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de Guardar */
.btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-success:hover {
        background-color: #218838;
    }

/* Mensaje de éxito */
.success-message {
    display: block;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
    /* Estilos para la imagen a la derecha del botón */
    .right-image {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura de forma proporcional */
    margin-left: 10px; /* Espacio entre el botón y la imagen */
    margin-top: -200px; /* Ajusta el margen superior para mover la imagen arriba */
    float: right; /* Alinea la imagen a la derecha */
}


/* Personaliza tus estilos CSS aquí */
/* Ejemplo de regla CSS para hacer la página responsive */
@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
    .container

{
    padding: 20px;
}

.col-md-6 {
    width: 100%;
    margin-bottom: 20px;
}

}


