/* Estilos generales y configuración de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding-top: 10px;
}

.container {
    width: 110%;
    margin: auto;
}

/* Configuraciones de tarjetas y elementos dentro de ellas */
.card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Añadir margen a los botones */
.card-body .btn {
    margin-right: 20px; /* Ajusta este valor según necesites */
    margin-bottom: 10px;
}


.card-title {
    color: #333;
}

.card-text {
    color: #555;
}

/* Estilos de formulario y controles de formulario */
.form-group {
    margin-bottom: 1rem;
}

    .form-control,
    .form-group textarea {
        width: 100%;
        resize: vertical;
        height: 60px; /* Ajusta según tus necesidades */
        border: 1px solid #ced4da;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

/* Estilos para la lista y los botones */
.list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

    .list-group-item .form-control {
        flex-grow: 1;
        margin-right: 0.5rem;
    }

    .list-group-item .btn {
        white-space: nowrap;
        flex-shrink: 0;
    }

/* Estilos de botones */
.btn-primary,
.btn-warning,
.btn-danger,
.btn-secondary {
    margin-bottom: 10px;
}

.btn-warning {
    color: #fff;
    background-color: #95CF48;
    border-color: #eea236;
}

    .btn-warning:hover {
        background-color: #ec971f;
        border-color: #d58512;
    }

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

    .btn-danger:hover {
        background-color: #c9302c;
        border-color: #ac2925;
    }

.btn-secondary {
    margin-bottom: 10px;
}

/* Estilos para divisores y bordes */
.border-right {
    border-right: 2px solid #dee2e6;
}

/* Responsividad y Media Queries */
@media (max-width: 300px) {
    .border-right {
        border-right: none;
        border-bottom: 1px solid #dee2e6;
    }
}
