/* Estilos generales y configuración de la página */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #7AB730;
    --secondary: #f4faec;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #212121;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    padding-top: 10px;
}

.container {
    width: 110%;
    margin: auto;
}

    .container mt-4, h1 {
        display: flex;
        flex-flow: column;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

/* Configuraciones de tarjetas y elementos dentro de ellas */
.card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Añadir margen a los botones */
.card-body .btn {
    margin-right: 20px; /* Ajusta este valor según necesites */
    margin-bottom: 10px;
}


.card-title {
    color: #333;
}

.card-text {
    color: #555;
}

/* Estilos de formulario y controles de formulario */
.form-group {
    margin-bottom: 1rem;
}

    .form-control,
    .form-group textarea {
        width: 100%;
        resize: vertical;
        height: 60px; /* Ajusta según tus necesidades */
        border: 1px solid #ced4da;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

/* Estilos para la lista y los botones */
.list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

    .list-group-item .form-control {
        flex-grow: 1;
        margin-right: 0.5rem;
    }

    .list-group-item .btn {
        white-space: nowrap;
        flex-shrink: 0;
    }

/* Estilos de botones */
.btn-primary,
.btn-warning,
.btn-danger,
.btn-secondary {
    margin-bottom: 10px;
    background-color: #95CF48;
}

.btn-warning {
    color: #95CF48;
    background-color: #95CF48;
    border-color: #95CF48;
}

    .btn-warning:hover {
        background-color: #95CF48;
        border-color: #d58512;
    }

.btn-danger {
    color: #fff;
    background-color: #95CF48;
    border-color: #d43f3a;
}

    .btn-danger:hover {
        background-color: #95CF48;
        border-color: #ac2925;
    }

.btn-secondary {
    margin-bottom: 10px;
    background-color: #95CF48;
}

/* Estilos para divisores y bordes */
.border-right {
    border-right: 2px solid #dee2e6;
}

/* Responsividad y Media Queries */
@media (max-width: 300px) {
    .border-right {
        border-right: none;
        border-bottom: 1px solid #dee2e6;
    }
}

