/* Estilo para la sección de chat */
.body {
    margin-top: 100%;
}

/* Estilo general */
.container {
    padding-top: 2rem; /* Espacio superior en la contenedor */
}
/* Estilo para el botón de selección de categorías */
/* Estilo para el botón de selección de categorías */
.category-button {
    background-color: #4CAF50;
    color: white; /* Cambiado de #000 a white para mejor contraste */
}

/* Estilo para la sección de chat */
.chat-section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 400px; /* Altura de la sección de chat */
    overflow-y: auto; /* Permite scroll en el eje Y */
}

/* Estilo para los mensajes */
.message {
    background-color: #f7f7f7; /* Color de fondo más claro para los mensajes */
    padding: 10px;
    margin-bottom: 10px; /* Margen solo abajo para evitar doble espacio */
    border-radius: 5px;
}

/* Estilo para los botones de usuarios */
.user-button {
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-top: 1rem; /* Espacio superior uniforme */
}

.divider {
    background-color: #ccc;
    height: 2px;
    margin-top: 20px;
}

/* Estilo para la columna de categorías */
.col-md-4 {
    padding-bottom: 1rem; /* Espacio inferior para separar de otros elementos */
}



/* Estilo para la columna de chat */
.col-md-8 {
    padding: 1rem; /* Padding alrededor del contenido */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); /* Sombra para la elevación */
    margin-bottom: 1rem; /* Espacio inferior */
}
/* Ajuste en el estilo para el botón de enviar */
.btnSend {
    margin-right: 10px; /* Ajusta el valor según tus necesidades */
}

/* Estilos para la imagen a la derecha del botón */
.left-image {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura de forma proporcional */
    margin-left: 10px; /* Espacio entre el botón y la imagen */
    margin-top: -300px; /* Ajusta el margen superior para mover la imagen arriba */
}
.btn-secondary {
    background-color: #4CAF50; /* Color más profesional */
    color: white;
}
